.cardsuit {
  height: 3vw;
  width: 3vw;
}

.middle {
  height: 15vw;
  width: 15vw;
  display: block;
  position: relative;
  left: 21%;
}

.red {
  color: red;
}

.black {
  color: black;
}

.card {
  height: 43vw;
  width: 27vw;
  display: inline-block;
  border: 2px solid;
  border-radius: 12%;
  margin: 2vw;
}

p {
  font-size: 3vw;
}
